$primary: hsl(0, 0%, 100%);
$secondary: hsl(237, 18%, 59%);
$accent: hsl(345, 95%, 68%);
$accent-dark: darken($accent, 20%);
$flipcard: hsl(236, 21%, 26%);
$flipcard-dark: hsl(235, 16%, 14%);
$background: hsl(234, 17%, 12%);
