$fs-xl: 5.5rem; // Desktop Num
$fs-600: 3.6rem; // Mobile Num
$fs-500: 2.2rem; // Heading
$fs-400: 1.4rem; // Desktop body copy
$fs-300: 0.8rem; // Mobile body copy

$regular: 400;
$semi-bold: 600;
$bold: 700;
