@use "../abstracts/colors" as *;

$border-radius: 0.15em;
$animation-duration: 200ms;

.flipcard {
  display: inline-flex;
  flex-direction: column;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $background;
    width: $border-radius;
    height: $border-radius;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  &::before {
    left: calc($border-radius / 2 * -1);
  }

  &::after {
    right: calc($border-radius / 2 * -1);
  }

  & > * {
    height: 0.8em;
    width: 70px;
    line-height: 1;
    padding: 0.3em;
    overflow: hidden;
  }

  &__top,
  .top-flip {
    text-align: center;
    background-color: $flipcard-dark;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &__bottom,
  .bottom-flip {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: $flipcard;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .top-flip {
    position: absolute;
    transform-origin: bottom;
    animation: top-flip $animation-duration ease-in;
  }
  .bottom-flip {
    position: absolute;
    bottom: 0;
    transform-origin: top;
    animation: bottom-flip $animation-duration ease-out $animation-duration;
    transform: rotateX(90deg);
  }
}

@keyframes top-flip {
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes bottom-flip {
  100% {
    transform: rotateX(0deg);
  }
}

@media screen and (min-width: 900px) {
  .flipcard > * {
    width: 150px;
  }
}
