.timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  &__segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;

    .flipcard {
      order: -1;
    }
  }
}
